@import '../../styles/mixins/ellipsis-mixin';

.property-wrapper {
  @include ellipsis;
  font-size: 1.1em;
  margin-bottom: 4px;
  min-height: 24px;
  .label {
    font-weight: 600;
    text-transform: capitalize;
  }

  &.multiple {
    white-space: normal;
    overflow: visible;
    overflow-wrap: break-word;
  }
}