@import '../../styles/mixins/page-mixin';

.upsert-entity {
  @include TitledPage;
  form {
    width: 100%;
    max-width: 800px;
    button {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}