@import '../footbar/footbar.scss';
@import '../toolbar/toolbar.scss';


.upsert-location {
  .upsert-location-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    .coordinates-selector-wrapper {
      flex: 1;
      .ant-form-item-control, .ant-form-item-control-input, .ant-form-item-control-input-content {
        display: flex;
        height: 100%;
      }
    }
  }
}