$toolbar-height: 64px;
.toolbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0;
  left: 0;
  height: $toolbar-height;
  padding: 0 24px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 2px 8px #f0f1f2;
  .toolbar-title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 12px 0 0;
  }
  .toolbar-actions {
    display: flex;
    align-items: center;
    overflow: hidden;
    .toolbar-action {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      min-width: 44px;
      border-radius: 22px;
      margin-left: 2px;
      cursor: pointer;
      .toolbar-action-icon {
        font-size: 20px;
      }

      &:hover, &.selected {
        background-color: #e6f7ff;
        color: #1890ff;
      }
    }
  }
}