@import '../../styles/mixins/actions-mixin';

.list-actions-container {
  display: flex;
  align-items: center;
  padding: 12px 24px 6px 24px;
  .filter-wrapper {
    .ant-select {
      width: 160px;
      margin-right: 12px;
    }
  }
  .list-action {
    @include action(0 4px 0 0);
  }
}
.section {
  .section-title {
    margin-left: 24px;
    font-weight: 600;
    font-size: 1.2em;

  }
  .entity-list-item {
    margin-left: 24px;

    &:last-child {
      border-bottom: none;
    }
  }

  &:not(.first) {
    margin-top: 12px;
  }
}