@import './modules/toolbar/toolbar.scss';
@import './modules/footbar/footbar.scss';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background-color: #fff;
  .main {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: calc(100vh - #{$footbar-height} - #{$toolbar-height});
    overflow: auto;
    margin-top: $toolbar-height;
  }
}